#datetime-picker {
  max-width: 272px;
  flex-grow: 1;
}

#datetime-picker.disabled {
  color: #808080;
  background-color: #fafafa;
}

.date-pick-panel {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
  justify-content: center;
}

.timer {
  display: flex;
  gap: 24px;
}

.value {
  font-size: 40px;
  line-height: 48px;
  display: block;
  text-align: center;
}

.label {
  text-align: center;
  display: block;
  text-transform: uppercase;
}
